.tab-btn {
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.tab-btn.active {
    background-color: #0BAAEE;
    color: white;
    font-weight: bold;
}

.onboarding-container,
.onboarding-container * {
    box-sizing: border-box;
}

.onboarding-overlay {
 background: black; 
 position: fixed;
 left: 0;
 top: 0;
 height: 100vh;
 width: 100%;
 opacity: 0;
 pointer-events: none;
 transition: all 400ms ease;
}

.onboarding-overlay.active
{
    opacity: 70%;
}

.onboarding-container {
    z-index: 300;
    position: fixed;
    font-family: "Roboto", sans-serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 40px -8px black;
}

.onboarding-container .content {
    background-color: white;
    color: black;
    width: 900px;
    height: 900px;
    padding-top: 24px;
    overflow: hidden;
}

.onboarding-container .steps {
    display: flex;
    width: 300%;
}

.onboarding-container .next-btn {
    width: 100%;
    padding: 25px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background: #0BAAEE;
    color: white;
    text-transform: uppercase;
}

.onboarding-container .dots {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.onboarding-container .dot {
    width: 10px;
    height: 10px;
    background: #dbdbdb;
    border-radius: 50%;
}

.onboarding-container .dot.activ {
    width: 10px;
    height: 10px;
    background: #222;
    border-radius: 50%;
}


